<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycomp.ssm.mapper.CustomerMapper">

    <insert id="insertCustomer">
        INSERT INTO customer (cust_name, cust_profession, cust_phone, email)
        VALUES (#{cust_name}, #{cust_profession}, #{cust_phone}, #{email})
    </insert>

</mapper>